<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Forex Balances</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div style="text-align: center;">
    <h1 style="text-align: center;">Bank Balance and Dispensing System</h1>
    <h2 style="text-align: center;">Foreign Currency Account Balances</h2>
</div>

<form method="get" th:action="@{/clientLanding}">
    <div style="text-align: center;">
        <div th:if="${client != null}" id="locked-input-div">
            <label for="clientIdRetrieved">Client Profile ID:</label>
            <input type="number" id="clientIdRetrieved" name="clientId" th:value="${client.getId()}" required min="1"
                   disabled style="background-color: #e0e0e0; color: #888;"/>
            <button type="submit" disabled style="background-color: #e0e0e0; color: #888;">Load Client Profile</button>
        </div>
        <div th:if="${client == null}" id="unlocked-input-div">
            <label for="clientId">Enter Client ID:</label>
            <input type="number" id="clientId" name="clientId" th:value="${clientId}" required min="1"
                   placeholder="Client ID"/>
            <button type="submit">Load Client Profile</button>
        </div>

        <div th:if="${result != null}" id="withdrawal-result-div"
             style="width: 420px; margin: 30px auto; border: 2px solid #888; border-radius: 8px; padding: 24px;
             background: #fafafa; box-shadow: 0 2px 8px rgba(0,0,0,0.07); text-align: center;">
            <h3 th:text="${result.statusReason}"></h3>
        </div>

        <table>
            <thead>
            <tr>
                <th>Account Number</th>
                <th>Currency</th>
                <th>Currency Balance</th>
                <th>Conversion Rate</th>
                <th>ZAR Amount</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="account : ${accounts}" th:if="${accounts != 'no-data'}">
                <td th:text="${account.accountNumber}"></td>
                <td th:text="${account.currencyCode}"></td>
                <td th:text="${#numbers.formatDecimal(account.ccyBalance, 1, 'COMMA', 2, 'POINT')}"></td>
                <td th:text="${account.conversionRate}"></td>
                <td th:text="${#numbers.formatDecimal(account.zarBalance, 1, 'COMMA', 2, 'POINT')}"></td>
            </tr>
            </tbody>
        </table>

        <div>
            <a th:href="@{'/clientLanding?clientId=' + ${client.getId()}}">
                <button type="button" style="width:400px; height:40px;">Back</button>
            </a>
            <a th:href="@{/endSession}">
                <button type="button" style="width:400px; height:40px; background-color:#d32f2f; color:#fff;">Logout
                </button>
            </a>
        </div>
    </div>
</form>
</body>
</html>
